@using PruebaBlazor.Utils.Paginacion
@typeparam TModel

<div class="d-flex justify-content-center gap-3 align-items-center mb-3">
    <div class="d-flex align-items-center">
        <label for="tamanioPagina" class="me-2">Elementos por página:</label>
        <select id="tamanioPagina" class="form-select" style="width: auto;" @onchange="CambiarTamanioPagina">
            <option value="5" selected="@(Page?.Pageable.Size == 5)">5</option>
            <option value="10" selected="@(Page?.Pageable.Size == 10)">10</option>
            <option value="15" selected="@(Page?.Pageable.Size == 15)">15</option>
            <option value="20" selected="@(Page?.Pageable.Size == 20)">20</option>
        </select>
    </div>
    @if (Page?.TotalPages >= 1)
    {
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item @(Page.Pageable.Page == 0 ? "disabled" : "")">
                    <button class="page-link" @onclick="() => CambiarPagina(Page.Pageable.Page - 1)">Anterior</button>
                </li>
                @for (int i = 0; i < Page.TotalPages; i++)
                {
                    var pageNumber = i;
                    <li class="page-item @(Page.Pageable.Page == pageNumber ? "active" : "")">
                        <button class="page-link" @onclick="() => CambiarPagina(pageNumber)">@(pageNumber + 1)</button>
                    </li>
                }
                <li class="page-item @(Page.Pageable.Page >= Page.TotalPages - 1 ? "disabled" : "")">
                    <button class="page-link" @onclick="() => CambiarPagina(Page.Pageable.Page + 1)">Siguiente</button>
                </li>
            </ul>
        </nav>
    }
</div>
